html, body{margin:0px;padding:0px;font-size:14px;font-family:"microsoft yahei",Verdana,Arial,Helvetica,sans-serif;line-height:22px;color:#585858;}
head,footer,section {display:block;}
textarea{font-size:12px;}
ul,li,form,dl,dt,dd,p,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,section{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-size: 12px;font-weight: normal;}
img{border:0;}
.ul{ list-style:none;padding:30px}
.ul li a{color:blue}
.alt {padding:20px}
.clear{clear:both;height:0;overflow:hidden;}
.left{float:left;}
.right{float:right;}
.pic img { width:100%; display:block}

h1{font-size:20px;margin:20px}
img {
    border: none
}

ul, ol {
    list-style: none
}

#box {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#box ul {
    width: 600%;
    display: -webkit-box;
}

#box ul li {
    -webkit-box-flex: 1;
    text-align: center;
    background: #000;
}

#box ul li img {
    width: 100%;
    max-width: 640px;
    border: none;
    -webkit-mask: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

#box ol {
    display: -webkit-box;
    position: absolute;
    width:64px;
    bottom: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
}

#box ol li {
    width: 7px;
    height: 7px;
    margin: 3px;
    background: #d7d6d8;
    border-radius: 50%;
    text-indent: -9999px;
    display: inline-block;
}

#box ol li.on {
    background: #fff
}